@import "tailwindcss";

:root {
  --background: #FFF0E5;
  --foreground: #FFF0E5;
  --text-main: #427B78; /* main color for texts */
  --primary-text: #D22727; /* highlighting color for important texts */
  --text-highlight-dark-bg: #F6EEC8; /* text color for darker backgrounds */
  --button-light: #8DB2B0; /* highlighting color for buttons */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF0E5;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: var(--foreground);
  font-family: var(--font-krub), sans-serif;
}

.sidemenu {
  position:fixed;
  font-family: var(--font-krub);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  min-width: 30%;
  color: var(--text-main);
  right: 10%;
}

.sidemenu-item {
  padding-bottom: 1.25rem;
}

.sidemenu-item:hover {
  color: var(--primary-text);
}

.home {
  display: flex;
  margin: 7em;
}

.title {
  font-family: var(--font-kumar-one);
  color: var(--primary-text);
  font-size: xx-large;
  height: fit-content;
}

.title:hover {
  cursor: pointer;
}

.text-primary {
  color: var(--primary-text);
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 70%;
  min-height: 100%;
}

.left-header {
  flex-shrink: 0;
  padding-bottom: 10rem;
  min-height: 20%;
}

.left-main-text{
  color: var(--text-main);
  font-weight: 600;
  font-style: normal;
  font-size: x-large;
  max-width: 60%;
  min-height: 60%;
}

.left-footer{
  padding-top: 7rem;
  min-height: 20%;
}

.footer {
  display: flex;
  min-width: auto;
  justify-content: start;
  color: var(--text-main);
  align-items: flex-start;
}

.socials-button {
  border: 0.1em solid var(--button-light);
  margin-right: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.socials-button:hover {
  border: 0.1em solid var(--button-light);
  background-color: var(--button-light);
  color: var(--text-highlight-dark-bg);
}




