@import "tailwindcss";

:root {
  --background: #FFF0E5;
  --foreground: #FFF0E5;
  --text-main: #427B78; /* main color for texts */
  --primary-text: #D22727; /* highlighting color for important texts */
  --text-highlight-dark-bg: #F6EEC8; /* text color for darker backgrounds */
  --button-light: #8DB2B0; /* highlighting color for buttons */
  --text-dark: #004643;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF0E5;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-krub), sans-serif;
  margin: 0;
  padding: 0;
}

/* nav bar styling */

.sidemenu {
  font-family: var(--font-krub);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  padding-left: 5rem;
  /* max-width: 30%; */
  min-width: fit-content;
  color: var(--text-main);
  order: 2;
  font-size: larger;
}

.sidemenu-item {
  padding-bottom: 1.25rem;
}

.sidemenu-item:hover {
  color: var(--primary-text);
  text-decoration: underline;
}

.sidemenu-item-active {
  color: var(--primary-text);
  padding-bottom: 1.25rem;
  /* text-decoration: underline; */
}

/* whole home page styling */

.home {
  display: flex;
  margin: 5em;
  flex-direction: row;
  min-width: min-content;
}

/* title styling  */
.title {
  font-family: var(--font-kumar-one);
  color: var(--primary-text);
  font-size: xx-large;
  height: fit-content;
}

.title:hover {
  cursor: pointer;
}

.text-primary {
  color: var(--primary-text);
}

/* layout wrappers styling  */

.left-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 70%;
  min-height: 100%;
  order: 1;
}

.left-header {
  flex-shrink: 0;
  padding-bottom: 5rem;
  min-height: 20%;
  order: 1;
}

.left-main-text{
  color: var(--text-main);
  font-weight: 500;
  font-style: normal;
  font-size: xx-large;
  max-width: 60%;
  min-height: 60%;
  order: 2;
  /* color: var(--text-dark); */
 
}

.left-footer{
  padding-top: 3rem;
  min-height: 20%;
  order: 3;
}

.left-footer-small{
  visibility: hidden;
  padding-top: 3rem;
  min-height: 20%;
  order: 3;
}

.footer {
  display: flex;
  min-width: auto;
  justify-content: start;
  color: var(--text-main);
  align-items: flex-start;
}

.socials-button {
  border: 0.1em solid var(--button-light);
  margin-right: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  color: var(--text-dark);
}

.socials-button:hover {
  border: 0.1em solid var(--button-light);
  background-color: var(--button-light);
  color: var(--text-highlight-dark-bg);
}

/* SOFTWARE PROJECTS PAGE STYLING */

.software-projects-list-item {
  /* font-weight: 500; */
  /* font-style: normal; */
  font-size: xx-large;
  /* max-width: 60%; */
  /* min-height: 60%;  */
  /* color: var(--text-dark); */
}

.software-projects-list-item:hover {
  cursor: pointer;
  color: var(--primary-text);
  /* text-decoration: underline; */
}

/* image modal */
.image-modal {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  min-width: 50%;
  max-width: 50%;
  min-height: 50%;
  border: 0.02em solid var(--primary-text); 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

.image-container {
  height: fit-content;
  min-height: 80%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  display: flex;
}

.images-index {
  font-size: medium;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.software-project-image {
  border: 0.02em solid var(--primary-text); 
}

.image-modal-actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.image-modal-button {
  margin-right: 2rem;
  margin-top: 1.5em;
  font-size: medium;
}

.image-modal-button:hover {
  cursor: pointer;
  color: var(--primary-text);
  text-decoration: underline;
}

.arrow {
  /* width: 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow-left {
  margin-right: 1rem;
}

.arrow-right {
  margin-left: 1rem;
}

.info-modal {
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  min-width: 50%;
  max-width: 50%;
  min-height: 100%;
  border: 0.02em solid var(--primary-text); 
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  overflow-y: scroll;
}

.info-container {
  display: flex;
  font-size: medium;
  overflow-y: auto;
}

.info-left {
  max-width: 30%;
  min-width: 30%;
  order: 1;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.info-right {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  order: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 1rem;
  margin-top: 1rem;
}

.info-header {
  color: var(--text-dark);
  /* font-weight: 600; */
}

.title-section {
  margin-bottom: 3rem;
  font-size: large;
}

.main-links {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.links-list {
  display: flex;
  flex-direction: column;
}

.link-item {
  text-decoration: underline;
}
.link-item:hover {
  color: var(--primary-text);
}

.description-paragraph {
  margin-bottom: 1rem;
  margin-right: 2rem;
}

/* EXPERIENCES PAGE STYLING */

.edu-work-icons {

}

.experiences-icon:hover {
  cursor: pointer;
  color: var(--primary-text);
}


/* change order on small screens */
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    width: fit-content;
    max-width: fit-content;
    overflow-x: hidden;
  }
  .home {
    flex-direction: column;
    margin: 2em;
    max-width: 100%;
    overflow-x: hidden;
  }
  .left-header {
    padding: 0;
  }
  .left-footer {
    visibility: hidden;
  }
  .left-main-text {
    order: 2;
    max-width: 80%;
    font-size: x-large;
    padding-top: 1em;
  }
  .sidemenu {
    align-items: start;
    font-size: large;
    max-width: 80%;
    padding-left: 0rem;
  }
  .footer {
    font-size: medium;
  }
  .socials-button {
    font-size: small;
  }
  .left-footer-small {
    visibility: visible;
  }

  /* SOFTWARE PROJECTS PAGE STYLING */
  .software-projects-list-item {
    font-size: x-large;
  }
  .image-modal {
    width: fit-content;
    min-width: fit-content;
    min-height: fit-content;
  }
  .info-modal {
    min-width: fit-content;
    max-width: 90%;
    top: 0rem;
    left: 0rem;
  }
  .info-container {
    flex-direction: column;
  }
  /* description of info modal */
  .info-right {
    /* border: 0.05em solid var(--primary-text);    */
    min-width: 100%;
    max-width: 100%;
    margin: 1.5rem;
    margin-right: 1.5rem;
    padding: 1rem;
    order: 1;
  }
  /* title section of info modal */
  .info-left {
    order: 2;
    margin-bottom: 1rem;
  }
  .main-links {
    margin-bottom: 1rem;
  }
  .title-section {
    margin-bottom: 1rem;
  }
}




